$base-font-path: '/assets/fonts/';

@mixin rm-font-face($font-family, $file-name, $weight, $style) {
  @font-face {
    font-family: $font-family;
    src: url($base-font-path+$file-name+'.woff2') format('woff2'),
      url($base-font-path+$file-name+'.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
  }
}
