<div class="cat">
  <div class="cat__logo">
    <img
      src="./../assets/images/cat_logo_test.png"
      class="cat__logo__picture"
    />
  </div>
  <div class="cat__content" data-test="cats-choice" id="cats-choice">
    <div class="cat__content__left">
      <div class="cat__left">
        <button
          (click)="onAddOnePoint('left')"
          class="cat__left__btn"
          data-test="left-cat"
          id="left-cat"
        >
          <img
            class="cat__left__img"
            src="{{ leftCat?.url }}"
            alt="chat de gauche"
          />
        </button>
      </div>
    </div>

    <div class="cat__content__right">
      <div class="cat__right">
        <button
          (click)="onAddOnePoint('right')"
          class="cat__right__btn"
          data-test="right-cat"
          id="right-cat"
        >
          <img
            class="cat__right__img"
            src="{{ rightCat?.url }}"
            alt="chat de droite"
          />
        </button>
      </div>
    </div>
  </div>
  <div class="cat__link">
    <a
      routerLink="/vote"
      class="cat__link--redirect"
      data-test="next"
      id="next"
    >
      Présenter les chats préférés des Français</a
    >
    <div class="cat__link--cover" [ngStyle]="{ display: display }"></div>
  </div>
</div>
