@import "src/styles/utils/colors";

.cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__logo__picture {
    position: absolute;
    width: auto;
    height: 100px;
    left: 50%;
    transform: translate(-50%);
  }

  &__content {
    display: flex;
    width: 100vw;
    height: 100vh;

    &__left {
      width: 50%;
      height: 100%;
      background-color: $super-light-pink;
    }

    &__right {
      width: 50%;
      height: 100%;
      background-color: $light-pink;
    }
  }

  &__left__btn {
    background-color: $super-light-pink;
  }

  &__right__btn {
    background-color: $light-pink;
  }

  &__left,
  &__right {
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    &__btn {
      border: none;
      border-radius: 5px;
      padding: 0;
    }

    &__img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }

  &__link--cover {
    position: fixed;

    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 330px;
    height: 60px;
  }

  &__link--redirect {
    position: fixed;

    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 330px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: $link-pink;
    box-shadow: 0 -2px 2px $link-pink;
    background-color: $link-background-pink;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: $hover-pink;
    }
  }
}
