@import "src/styles/utils/colors";

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: $super-light-pink;

  &__logo__picture {
    position: absolute;
    width: auto;
    height: 100px;
    left: 50%;
    transform: translate(-50%);
  }

  &__title {
    margin-top: 120px;
    text-transform: uppercase;
  }

  &__link {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 15px;
    border-radius: 5px;
    color: $hover-pink;
    box-shadow: 0 2px 2px $link-pink;
    background-color: $link-background-pink;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: $hover-pink;
    }
  }

  &__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;

    &__content {
      margin: 10px;
      width: 200px;
      height: 300px;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 4px 8px 0 $box-shadow-black;
      transition: 0.3s;
      background-color: $link-background-pink;

      &:hover {
        box-shadow: 0 8px 16px 0 $box-shadow-black;
      }
    }

    &__score {
      padding: auto;
      text-transform: uppercase;
      text-align: center;
    }

    &__img {
      width: 200px;
      height: 200px;
    }
  }
}
