<div class="results" data-test="results" id="results">
  <div class="results__logo">
    <img
      src="./../assets/images/cat_logo_test.png"
      class="results__logo__picture"
    />
  </div>
  <h1 class="results__title">Les chats préférés des Français</h1>
  <a routerLink="/" class="results__link" data-test="return" id="return"
    >Retour au vote</a
  >

  <div
    *ngFor="let cat of cats"
    class="results__card"
    data-test="cats-results"
    id="cats-results"
  >
    <div *ngFor="let resultsCat of cat" class="results__card__content">
      <img src="{{ resultsCat.url }}" alt="chats" class="results__card__img" />
      <div class="results__card__score">
        <p>Score</p>
        <div class="results__card__note">
          {{ resultsCat.score }}
        </div>
      </div>
    </div>
  </div>
</div>
